<a href="https://colab.research.google.com/github/ycetin94/vscode-example/blob/main/cal%C4%B1sma_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def hipo(a,b) :
    print(a**2 + b**2)

In [ ]:
hipo (3,4)

25

In [ ]:
def hipo1(a,b) :
    print((a**2 + b**2)**0.5)

In [ ]:
hipo1(3,4)

5.0

In [ ]:
def mult(a,b):
    print(a*b)

In [ ]:
mult(5,6)

30

In [ ]:
mult("ali   ", 6)

ali   ali   ali   ali   ali   ali

In [ ]:
def rumi():
    print('''      Bir muammadır "AŞK", kiminin vicdanına atılan taş,
          kiminin fakir gönlüne katılan aş,kiminin de gözünden akıtılan yaştır "AŞK".''')

In [ ]:
rumi()

      Bir muammadır "AŞK", kiminin vicdanına atılan taş,
          kiminin fakir gönlüne katılan aş,kiminin de gözünden akıtılan yaştır "AŞK".

In [ ]:
def add(say1, say2):
    print(say1 + say2)

In [ ]:
add(6,7)

13

In [ ]:
add(-8,7)

-1

In [ ]:
add("6","7")

67

In [ ]:
def calc(a,b, opr):
    if opr == "+": 
        print(a + b)
    elif opr =="-":
        print(a - b)
    elif opr =="*":
        print(a * b)
    elif opr =="/":
        print(a / b)
    else:
        print("enter valid operator")

In [ ]:
calc(3,8,"-")

-5

In [ ]:
calc(13,8,"*")

104

In [ ]:
calc(23,8,"/")

2.875

In [ ]:
calc(103,8,"/")

12.875

In [ ]:
def topla(x,y):
    return x+y

In [ ]:
topla(3,5)

8

In [ ]:
type(topla(3,5))

int

In [ ]:
x = 'My name is Richard'
def my_function_1(): 
    x = 'My name is John'

In [ ]:
my_function_1()

In [ ]:
print(x)

My name is Richard

In [ ]:
city = "I love Paris!"

def my_function(): 
    return "I love London!"
    print(city)

In [ ]:
my_function()

'I love London!'

In [ ]:
def outer():
    x = "previous"
    
    def inner():
        return "later"
        x = "later"
        print("inner:", x)
    
    inner()
    print("outer:", x)

In [ ]:
outer()

outer: previous

In [ ]:
generator = (i **2 for i in range (6))

In [ ]:
generator

In [ ]:
print(* generator)

0 1 4 9 16 25

In [ ]:
yeni_listem = [i**2 for i in range (6)]

In [ ]:
yeni_listem

[0, 1, 4, 9, 16, 25]

In [ ]:
lambda x: 'odd' if x % 2 != 0 else 'even'

In [ ]:
print((lambda x: 'odd' if x % 2 != 0 else 'even') (2))

even

In [ ]:
print((lambda x: 'odd' if x % 2 != 0 else 'even') (3))

odd

In [ ]:
print((lambda x: x**2)(2))

4

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly
print(result)

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
<map object at 0x0000018637EEB760>

In [ ]:
def square(n):   # at least two additional lines of code
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
result = map(square, iterable) 
print(list(result))

[1, 4, 9, 16, 25]

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [ ]:
number_list = [1, 2, 3, 4, 5]

print(list(map(lambda x:x*2, number_list)))

[2, 4, 6, 8, 10]

In [ ]:
def myfunc(x):
    return lambda a: x**a

In [ ]:
myfunc(3)(2)

9

In [ ]:
myfunc(3)()

TypeError: myfunc.<locals>.<lambda>() missing 1 required positional argument: 'a'

In [ ]:
sayılarım=[1,3,4,6,8,9,12]

In [ ]:
def karesi(x):
    if x%2 == 0 :
        return  x**2
    elif x%2!=0:
        return x**3

list(map(karesi, sayılarım))

In [ ]:
list(map( lambda x:  x**2 if x % 2 == 0   else x**0 , sayılarım))

In [ ]:
print((lambda x: x**2)(7))

In [ ]:
print((lambda x, y: (x**2+y**2)**0.5)(3, 4))

In [ ]:
average = lambda x, y: (x+y)/2
print(average(3, 5))  # we call

In [ ]:
sayılarım1=[1,3,4,5]
sayılarım2=[8,9,12,7]
sayılarım3=[10,11,13,2]
aaaaa=list(map(lambda x, y,z : x**2+y**2+z**2, sayılarım1,sayılarım2 , sayılarım3))
print(aaaaa)

In [ ]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 
  
even = filter(lambda x:x%2==0, first_ten) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :', list(even))

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

In [ ]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
result = list(filter(lambda x: x>=6, number_list) )

In [ ]:
print(result)

In [ ]:
def modular_function(n):
    return lambda x: x ** n
    
power_of_2 = modular_function(2)  # first sub-function derived from def
power_of_3 = modular_function(3)  # second sub-function derived from def
power_of_4 = modular_function(4)  # third sub-function derived from def

print(power_of_2(2))  # 2 to the power of 2
print(power_of_3(2))  # 2 to the power of 3
print(power_of_4(2))  # 2 to the power of 4

In [ ]:
even = filter(lambda x: x%2==0, first_ten)

In [ ]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))
print(repeat_2_times(55))
print(repeater(2)(9))

alex alex
lara lara lara
linda linda linda linda
110
18

In [ ]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))

125

In [ ]:
print((lambda x: x**3)(5))

125

In [ ]:
mean = lambda x, y: (x+y)/2
print(mean(8, 10))

9.0

In [ ]:
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))

45

In [ ]:
number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
divisible_list = filter(lambda x:x%3==0, number_list) 
print(list(divisible_list))

[0, 3, 6, 9, 12]

In [ ]:
square = lambda x : x**2
print(square(5))

25

In [ ]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result =list(filter( lambda x: x%2!=0, number_list))
print(result)

[1, 3, 5, 7, 9]

In [ ]:
number_list=[1, 2, 3, 4, 5]

result=list(map(lambda x:x**2, number_list))
print(result)

[1, 4, 9, 16, 25]

In [ ]:
print(all(number_list))

True

In [ ]:
number_list11 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
print(all(number_list11))

False

In [ ]:
number_list11 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 
print(any(number_list11))

True

In [ ]:
num= [] 
print(all(num))

True

In [ ]:
num= [] 
print(any(num))

False